{% extends 'base.html' %}

{% block head %}
<title>Contact</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Register your email for contact</h1>
    <div class="form">
        <form action="/register" method="POST">
            <input type="text" name="name" id="name" placeholder="Your name" autofocus>
            <input type="email" name="email" id="email" placeholder="Your e-mail">
            <input type="submit" value="Add contact">
        </form>
    </div>
    <a href="/registered">Registered</a>
</div>
<script>
    document.querySelector('form').onsubmit = function() {
        if (!document.querySelector('#name').value) {
            alert('You must provide your name!');
            return false;
        }
        else if (!document.querySelector('#email').value) {
            alert('You must provide your e-mail!');
            return false;
        }
        return true;
    }
</script>
{% endblock %}